<!DOCTYPE html>
<html lang="en">
<head>
  <title><%=htmlWebpackPlugin.options.title%></title>
  <meta charset="utf-8">

  <% for (const key in htmlWebpackPlugin.options.meta) { %>
    <meta name="<%=[key]%>" content="<%=htmlWebpackPlugin.options.meta[key]%>">
  <% } %>

  <% if (htmlWebpackPlugin.options.assetsManifest.modern && htmlWebpackPlugin.options.assetsManifest.modern.css) { %>
    <% for (const file of htmlWebpackPlugin.options.assetsManifest.modern.css) { %>
      <link rel="preload" as="style" href="<%=[file]%>" />
      <link rel="stylesheet" type="text/css" href="<%=[file]%>">
    <% } %>
  <% } %>
</head>
<body>
  <div id="app"></div>

  <!-- polyfill `nomodule` in Safari 10.1: -->
  <script type="module">
    !function(e,t,n){!("noModule"in(t=e.createElement("script")))&&"onbeforeload"in t&&(n=!1,e.addEventListener("beforeload",function(e){if(e.target===t)n=!0;else if(!e.target.hasAttribute("nomodule")||!n)return;e.preventDefault()},!0),t.type="module",t.src=".",e.head.appendChild(t),t.remove())}(document)
  </script>

  <!-- bundles -->
  <% if (htmlWebpackPlugin.options.assetsManifest.modern) { %>
    <% for (const file of htmlWebpackPlugin.options.assetsManifest.modern.js) { %>
      <script type="module" src="<%=[file]%>"></script>
    <% } %>
  <% } %>

  <% if (htmlWebpackPlugin.options.withLegacy && htmlWebpackPlugin.options.assetsManifest.legacy) { %>
    <% for (const file of htmlWebpackPlugin.options.assetsManifest.legacy.js) { %>
      <script nomodule src="<%=[file]%>"></script>
    <% } %>
  <% } %>
</body>
</html>
